<div class="btn-group dropdown">
    <button
        data-bs-toggle="dropdown"
        class="btn btn-xs btn-outline {{ class }} dropdown-toggle"
        aria-expanded="true" {{ parameters }}
        data-qa="table-actions-dropdown-toggler"
    >
        {{ icon | raw}} {{ title | trans }}
        <span class="fa fa-angle-down"></span>
    </button>
    <ul class="dropdown-menu">
        {% for button in nestedButtons %}
            {% if button.needDivider %}
                <li class="divider"></li>
            {% endif %}
            <li>
                <a class="dropdown-item" href="{{ button.url }}" {{ button.params }}>{{ button.title | trans }}</a>
            </li>
        {% endfor %}
    </ul>
</div>
