{% extends "bootstrap_5_layout.html.twig" %}

 {% block form_label %}
    {% set trim_asterisk = trim_asterisk is defined ? trim_asterisk : true %}
    {% set label_length = label | length %}

    {% if trim_asterisk and required and label and label_length > 0 %}
        {% set label = (label | trim | last == '*') ? label[:label_length - 1] : label %}
    {% endif %}

    {{ parent() }}
{% endblock %}

{% block form_errors -%}
    {% set visibleErrors = [] %}
    {% for error in errors %}
        {% if error.message | trim is not empty %}
            {% set visibleErrors = visibleErrors | merge([error]) %}
        {% endif %}
    {% endfor %}

    {% if visibleErrors|length > 0 -%}
        {% if form.parent is not null %}<span class="help-block">{% else %}<div class="alert alert-danger">{% endif %}
        <ul class="list-unstyled">
        {%- for error in errors -%}
            <li><span class="fa fa-exclamation-circle"></span> {{ error.message | trans(error.messageParameters) }}</li>
        {%- endfor -%}
    </ul>
        {% if form.parent is not null %}</span>{% else %}</div>{% endif %}
    {%- endif %}
{%- endblock form_errors %}

{% block form_start %}
    {% if form.vars.multiFactorHandlers is defined %}
        {% for handler in form.vars.multiFactorHandlers %}
            {{ handler | raw }}
        {% endfor %}
    {% endif %}

    {{ parent() }}
{% endblock form_start %}


{%- block checkbox_radio_label -%}
    {#- Do not display the label if widget is not defined in order to prevent double label rendering -#}
    {%- if widget is defined -%}
        {%- set label_attr_class = label_attr_class|default(label_attr.class|default('')) -%}
        {%- if 'btn' not in label_attr_class -%}
            {%- set label_attr_class = label_attr_class ~ ' form-check-label' -%}
        {%- endif -%}
        {%- set label_attr = label_attr|merge({class: label_attr_class|trim}) -%}
        {%- if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif -%}
        {%- if required -%}
            {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' required')|trim}) -%}
        {%- endif -%}
        {%- if parent_label_class is defined -%}
            {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' ' ~ parent_label_class)|replace({'checkbox-inline': '', 'radio-inline': ''})|trim}) -%}
        {%- endif -%}

        <label{% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}>
            {{ widget|raw }}
            {%- if label is not same as(false) -%}    
                {{- block('form_label_content') -}}
            {%- endif -%}
        </label>
    {%- endif -%}
{%- endblock checkbox_radio_label %}