<!DOCTYPE html>
<html data-skin="classic" data-application-locale="{{ app.locale }}" lang="{{ (app.locale | slice(0, 2)) | lower }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="referrer" content="strict-origin-when-cross-origin" />

        <title>{% block head_title %}{% if title is defined %}{{ title | trans }}{% endif %}{% endblock %}</title>

        {% block head_css %}
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            
            <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined&display=swap" />
            

            <link rel="stylesheet" href="{{ assetsPath('css/spryker-zed-gui-commons.css') }}">
        {% endblock %}
    </head>
    <body>
        <div id="wrapper" class="wrapper">
            {% block body_menu %}
                {% if app.twig.getFunction('navigation') != false %}
                    {% include '@Gui/Partials/navigation.twig' %}
                {% else %}
                    {% include '@Gui/Partials/menu.twig' %}
                {% endif %}
            {% endblock %}

            <div class="content-wrapper">
                <header class="app-topbar">
                    <div class="container-fluid topbar-menu">
                        <div class="d-flex align-items-center gap-2">
                            <button class="sidenav-toggle-button btn btn-primary btn-icon">
                                <span class="material-symbols-outlined">menu</span>
                            </button>

                            <button class="topnav-toggle-button px-2"
                                data-bs-toggle="collapse"
                                data-bs-target="#topnav-menu-content">
                                <span class="material-symbols-outlined">menu</span>
                            </button>
                        </div>

                        <div class="d-flex align-items-center gap-2">
                            <div class="topbar-item d-none d-sm-flex">
                                <button class="topbar-link" id="light-dark-mode" type="button">
                                    <span class="material-symbols-outlined fs-xxl mode-light-moon">dark_mode</span>
                                    <span class="material-symbols-outlined fs-xxl mode-light-sun">light_mode</span>
                                </button>
                            </div>

                            <div class="topbar-item nav-user">
                                <div class="dropdown">
                                    <a class="topbar-link dropdown-toggle drop-arrow-none px-2" data-bs-toggle="dropdown" data-bs-offset="0,16" href="#!" aria-haspopup="false" aria-expanded="false" data-qa="backoffice-user-navigation">
                                        <div class="d-lg-flex align-items-center gap-1 d-none">
                                            {% if username is defined %}
                                                <h5 class="my-0">{{ username }}</h5>
                                            {% endif %}
                                            {% if environment is defined %}
                                                <em>[{{ environment }}]</em>
                                            {% endif %}
                                            
                                            <i class="ti ti-chevron-down align-middle"></i>
                                        </div>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end">
                                        <div class="dropdown-header noti-title">
                                            <h6 class="text-overflow m-0">Welcome back!</h6>
                                        </div>

                                        {% deprecated 'Will be moved to a plugin in the next major release.' %}
                                        
                                        <a class="dropdown-item" href="/user/edit/password-reset">
                                            {{ 'Reset password' | trans }}
                                        </a>

                                        {% if app.twig.getFunction('layout_navigation_items') %}
                                            {% include '@Gui/Partials/navigation-items.twig' %}
                                        {% endif %}

                                        <div class="dropdown-divider"></div>

                                        <a data-qa="backoffice-logout-button" href="/auth/logout" class="dropdown-item text-danger fw-semibold">
                                            <span class="align-middle">{{ 'Log out' | trans }}</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>

                <div class="content-page">
                    <div class="container-fluid">
                        <div class="page-title-head">
                            <div class="d-flex py-1 align-items-center">
                                <div class="flex-grow-1">
                                    <h2 class="fs-sm fw-bold m-0">
                                        {% block section_title %}
                                            {% if title is defined %}
                                                {{ title|trans }}
                                            {% endif %}
                                        {% endblock %}
                                    </h2>
                                </div>
                                <div class="text-end d-flex gap-2 title-action" data-qa="title-action">
                                    {% block action %}{% endblock %}
                                </div>
                            </div>

                            {% if app.twig.getFunction('breadcrumb') != false %}
                                {% include '@Gui/Partials/breadcrumb.twig' %}
                            {% else %}
                                {% include '@Gui/Partials/backward-compatible-breadcrumb.twig' %}
                            {% endif %}
                        </div>
                        
                        <div class="wrapper wrapper-content">
                            {% include '@Messenger/Partials/flash-messages.twig' %}
                            {% block content -%}{%- endblock %}
                        </div>
                    </div>

                    <footer class="footer">
                        <div>
                            <strong>Copyright</strong>
                            Spryker Systems GmbH &copy;
                            {{ 'now'|date('Y') }}
                        </div>
                    </footer>
                </div>
            </div>
        </div>

        <div id="modal-alert" class="modal fade" role="dialog" aria-labelledby="gridSystemModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content alert" id="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="modal-title"></h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ 'global.close' | trans }}"></button>
                    </div>
                    <div class="modal-body" id="modal-body"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-bs-dismiss="modal">{{ 'global.close' | trans }}</button>
                    </div>
                </div>
            </div>
        </div>

        {% block footer_js %}
            {% block common_js %}
                <script src="{{ assetsPath('js/spryker-zed-gui-commons.js') }}"></script>
            {% endblock %}
            {% block init_js %}
                <script src="{{ assetsPath('js/spryker-zed-gui-init.js') }}"></script>
            {% endblock %}
        {% endblock %}
    </body>
</html>
