<div
    {% if id is defined and id is not null %}id={{ id }} {% endif %}
    {% if extras is defined and extras is not null %}{{ extras }}{% endif %}
    class="modal"
    tabindex="-1"
    role="dialog"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <header class="modal-header">
                <h4 class="modal-title">{{ title }}</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ 'global.close' | trans }}"></button>
            </header>
            <div class="modal-body">{{ content }}</div>

            {% if footer is defined and footer is not null %}
                <div class="modal-footer">{{ footer }}</div>
            {% endif %}
        </div>
    </div>
</div>
